<h1>Lecture: NAMEH</h1>
<p>Level 2</p>

<div class='lecture-resources-wrapper'>
<!-- 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->

	<ul id="sortable">
		<% @elements.each do |element|%>
			<li class="sortable-wrapper" id="<%=element.class%>_<%=element.id%>">
			<span class="handle">[drag]</span>
				<div class="ce">
					<% if element.instance_of?(Note) %>
					 <%= element.text %>
				  <% else %>
					 <div class="image-wrapper"><%= image_tag element.source.url%> </div>
				<% end %>
				</div>
        
			</li>
		<% end %>
	</ul>
</div>