ul.lecture-img li{
	width:50%;
	margin-left:25%;
	background: rgb(233, 233, 233);
}
ul.lecture-img li form{
	width:100%;
	margin-top:10%;
}
ul.lecture-img li form .button{
	width:30%;
	height:50px;
	margin-left:3%;
	margin-right:34%;
	margin-top:3%;
	margin-bottom:2%;
	float:left;
	font-size:18px;
}
label[for=image-name]{
	font-size:16px;
	float:left;
	display:inline;
	margin:10px;
}
.btn.destroy_image{
	width:30%;
	height:50px;
	margin-right:3%;
	margin-top:3%;
	margin-bottom:2%;
	font-size:18px;
}
div.img_source_url{
	width:100%;
}
div.img_source_url img{
	width:100%;
}
div.image_name input{
	float:right;
	width:83%;
	height:45px;
	margin-right:3%;
	border-style:none;
	border-radius:10px;
}