<div class="row">
  <div class="col-lg-12">
    <h1>Developer Panel<small> Don't break anything</small></h1>

    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    </ol>

    <p>This page is a central hub to keep tags on all facets currently in development. You can see the API here, peek at the database for all users, and more.</p>

    <p>Use the button below to see a whole bunch of sample Bootstrap usage.</p>

    <a href="/bootstrapExamples"><button type="button" class="btn btn-default">See Bootstrap Examples</button></a>
  </div>
</div><!-- /.row -->